.brand-logo img {
    vertical-align: middle
}

.account-logo  {
    vertical-align: middle;
}

/*********************************************************/
/*Css for formatting the Image on side nav on the add item form */


.circle-image-nav {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
}

.circle-image-nav img{
width:100%;
height:100%;
object-fit: cover;
}
/*********************************************************/

/*********************************************************/
/*Css for formatting the profile Image on top nav on the add item form */
.circle-image-nav-top {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 55px;
    height: 55px;
    margin-top: 1px;
}

.circle-image-nav-top img{
width:100%;
height:100%;
object-fit: cover;
}
/*********************************************************/