<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SIT725 Week 5 Practical</title>
    <meta name="description" content="basic template for SIT725 Week 5 Practical">
    <meta name="author" content="SitePoint">

    <meta property="og:title" content="SIT 725 Prac 5">
    <meta property="og:type" content="website">
    <meta property="og:description" content="basic template for SIT725 Week 5 Practical">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom Style Sheet-->
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <nav>
        <div class="nav-wrapper navbar-size">
            <a href="#" class="brand-logo"><img class="user-image-size" src="images/tradebibatalogo.png" /></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a target="_blank" href="/login.html">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

<div class="container">
    <div class="row justify-content-center">

        <h3>My name is <%= user.name %> </h3> &nbsp;
        <h3>I stay at <%= user.location %> </h3> <br>

    </div>
</div>
<div>
    <a href="/login.html"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Logout</button> </a>
</div>

</body>

</html>