<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Welcome to TradeBiBata.</p>
        <p> Please, click the link below to return to TradeBiBata</p>
        <a href="http://localhost:3000/createAcc.html">Return</a>
    </body>
</html>